<div class="row">
  <div class="col"></div>
  <div class="col">
    <form [formGroup]="resetForm" (ngSubmit)="checkEmail(resetForm.value)" class="form fadeInDown">
      <div class="form-group ">
        <label for="email" class="text ">Reset Password</label>
        <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId"
          placeholder="Enter your Email" formControlName="email">
        <small id="emailHelpId" class="form-text text-muted">Please inter your vaild email...!</small>
        <br>
        <input type="submit" class="btn  btn-sm btn-block btn-info" name="" value="Reset"
          [disabled]="resetForm.controls.email.value ==''">
      </div>
    </form>
  </div>
  <div class="col"></div>
</div>
