<div class="row">
  <div class="col"></div>
  <div class="col">
      <form [formGroup]="cofirmpasswordForm" (ngSubmit)="changePass(cofirmpasswordForm.value)"
          class="form fadeInDown">
          <div class="form-group ">
              <label for="email" class="text ">Change Password</label>
              <input type="password" class="form-control" placeholder="New Password" formControlName="newpassword"
                  required autocomplete="new-password">
              <br>
              <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmpass"
                  required autocomplete="new-password">
              <br>

              <input type="password" class="form-control" placeholder="Verification Code"
                  formControlName="verificationCode" required >
              <br>
              <small id="emailHelpId" class="form-text" *ngIf="
              cofirmpasswordForm.value['newpassword'] == ''

              " style="color: red;">*Feilds is required</small>
              &nbsp;
              <input type="submit" class="btn  btn-sm btn-block btn-success" name="" value="CONFIRM" [disabled]="
                  cofirmpasswordForm.value['newpassword']
                  != cofirmpasswordForm.value['confirmpass'] ||
                   cofirmpasswordForm.value['newpassword'] == '' ||
                    cofirmpasswordForm.value['verificationCode'] == ''">
          </div>
      </form>
  </div>
  <div class="col"></div>
</div>
