<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <div class="jumbotron">
      <h1 class="display-3">Students Details</h1>
      <hr class="my-2">
      <div class="text-muted">
        <ul class="list-group">
          <label class="label">Student ID</label>
          <li class="list-group-item">{{studentID}}</li>
          <br>
          <label class="label">Student Details</label>
          <li class="list-group-item">{{ScheduleDestination}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>
