<br>
<div class="row fadeInDown">
  <div class="col ">
    <div class="shadow p-3 mb-5 bg-light rounded">
      <img loading="lazy" class="d-flex align-self-start mr-3 rounded-circle"
        src="../../../../assets/Pictures/21948575background.jpg" alt="Generic placeholder image">
      <div class="media-body">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ipsa ducimus, esse quis quod minima?
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="shadow p-3 mb-5 bg-light rounded">
      <img loading="lazy" class="d-flex align-self-start mr-3 rounded-circle"
        src="../../../../assets/Pictures/21948575background.jpg" alt="Generic placeholder image">
      <div class="media-body">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ipsa ducimus, esse quis quod minima?
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="shadow p-3 mb-5 bg-light rounded">
      <img loading="lazy" class="d-flex align-self-start mr-3 rounded-circle"
        src="../../../../assets/Pictures/21948575background.jpg" alt="Generic placeholder image">
      <div class="media-body">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ipsa ducimus, esse quis quod minima?
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row  ">
  <div class="col">
    <div class="shadow p-3 mb-5 bg-light rounded">
      <img loading="lazy" class="d-flex align-self-start mr-3 rounded-circle"
        src="../../../../assets/Pictures/21948575background.jpg" alt="Generic placeholder image">
      <div class="media-body">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ipsa ducimus, esse quis quod minima?
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="shadow p-3 mb-5 bg-light rounded">
      <img loading="lazy" class="d-flex align-self-start mr-3 rounded-circle"
        src="../../../../assets/Pictures/21948575background.jpg" alt="Generic placeholder image">
      <div class="media-body">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ipsa ducimus, esse quis quod minima?
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="shadow p-3 mb-5 bg-light rounded">
      <img loading="lazy" class="d-flex align-self-start mr-3 rounded-circle"
        src="../../../../assets/Pictures/21948575background.jpg" alt="Generic placeholder image">
      <div class="media-body">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ipsa ducimus, esse quis quod minima?
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row  ">
  <div class="col">
    <div class="shadow p-3 mb-5 bg-light rounded">
      <img loading="lazy" class="d-flex align-self-start mr-3 rounded-circle"
        src="../../../../assets/Pictures/21948575background.jpg" alt="Generic placeholder image">
      <div class="media-body">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ipsa ducimus, esse quis quod minima?
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="shadow p-3 mb-5 bg-light rounded">
      <img loading="lazy" class="d-flex align-self-start mr-3 rounded-circle"
        src="../../../../assets/Pictures/21948575background.jpg" alt="Generic placeholder image">
      <div class="media-body">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ipsa ducimus, esse quis quod minima?
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="shadow p-3 mb-5 bg-light rounded">
      <img loading="lazy" class="d-flex align-self-start mr-3 rounded-circle"
        src="../../../../assets/Pictures/21948575background.jpg" alt="Generic placeholder image">
      <div class="media-body">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ipsa ducimus, esse quis quod minima?
        </p>
      </div>
    </div>
  </div>
</div>
