<div class="container">
  <div class="row">
    <div class="form col-sm-9 col-md-6 mt-5 mb-3 wrapper fadeInDown">
      <form (ngSubmit)="saveFormData(signupForm)" [formGroup]="registerForm" class="fadeIn second" #signupForm="ngForm">
        <legend class="well-legend">Sign Up</legend> <!-- // User Name //  -->
        <div class="md-form">
          <label for="name">Full Name</label>
          <input type="text" class="form-control" formControlName="name" required>
        </div>
        <div class="md-form">
          <label for="name">Email</label>
          <input type="email" class="form-control" formControlName="email">
        </div>
        <div class="md-form">
          <label for="name">Role</label>
          <input type="text" class="form-control" formControlName="role">
        </div>
        <div class="md-form">
          <label for="email">password</label>
          <input type="password" class="form-control" formControlName="password" digits autocomplete="new-password">
        </div>
        <div class="row">
          <div class="col-12">
            <input type="submit" value="Sign up" class="btn btn-success btn-rounded my-3  btn-block"
              style="border-radius: 30px;"
              [disabled]="registerForm.value['name'] == '' || registerForm.value['email'] == '' || registerForm.value['password'] == '' ">
          </div>
        </div>
        <!-- <span class="text-muted alert-danger" *ngIf="signupForm.invalid">*form not valid</span> -->
      </form>

    </div>
  </div>
</div>
